<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Informatii Generale
                <small>Harta regionala</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="./index.html">Pagina principala</a></a>
                </li>
                <li class="active">Informatii</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <img class="img-responsive" src="http://www.pensiuni.org/images/regiuni-istorice.gif">
        </div>
        <div class="col-md-6">
            <h2>Bine ati venit!</h2>

            <p align="justify">România este un stat situat în sud-estul Europei Centrale, pe cursul inferior al Dunarii, la nord de peninsula Balcanica si la tarmul nord-vestic al Marii Negre. Pe teritoriul ei este situata aproape toata suprafata Deltei Dunarii si partea sudica si centrala a Muntilor Carpati. Se învecineaza cu Bulgaria la sud, Serbia la sud-vest, Ungaria la nord-vest, Ucraina la nord si est si Republica Moldova la est, iar tarmul Marii Negre se gaseste la sud-est.</p>

            <p align="justify">România a aparut ca stat, condus de Alexandru Ioan Cuza, în 1859, prin unirea dintre Moldova si tara Româneasca, pastrând autonomia si statutul de stat tributar fata de Imperiul Otoman, pe care-l aveau cele doua principate. A fost recunoscuta ca tara independenta 19 ani mai târziu. În 1918, Transilvania, Bucovina si Basarabia s-au unit cu România formând România Mare sau România interbelica, care a avut cea mai mare extindere teritoriala din istoria României (295.641 km2).</p>
        </div>

    </div>

   

</div>
