<div class="container">
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Zone Vizitate
                <small>Pe unde au fost calatorii nostri</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Zone vizitate</li>
            </ol>
        </div>

    </div>

     <div class="col-lg-12">
<table class="table">
			<thead>
			
				<th>
					Zona
				</th>
				<th>
				    Perioada
				</th>
				<th>
				    Modifica Perioada
				</th>
			
			</thead>
			<tr ng-repeat="zoneviz in Zoneviz">
			
					
					<td>{{zoneviz.Nume}}</td>
					<td>{{zoneviz.Perioada}}</td>
	             	<td><input style="width:160px" type="date" ng-model="perioadanoua" name="perioadanoua" value="{{zoneviz.Perioada}}"/></td>
					<td>
						 <button class='btn-warning btn col-md-10 col-md-offset-1' ng-click='modifica(zoneviz.id,perioadanoua)'>Modifica</button>
					</td>	
					<td>
					    <button class='btn-danger btn col-md-10 col-md-offset-1' ng-click='sterge(zoneviz.id)'>Elimina</button>
					</td>
						
			
		    </tr>
</table>
</div>
</div>


